<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TDEA</title>

    <link rel="stylesheet" href="static/Inicio.css">
</head>
<body bgcolor="#ECF0F1 ">
<img id="header1" src="static/images/vice.png" width="1518px" >

<header>
    <ul class="menu">
        <li><a href="/Registros">REGISTROS</a></li>
        <li><a href="/Matriculas">MATRICULAS</a></li>
        <li><a href="/PQRS">PQRS</a></li>
        <li><a href="/Consultas">CONSULTA BASE DE DATOS</a></li>
    </ul>
</header>

<section id="Noti">
    <center><h1 id="principal"> !NOTI TDEA¡</h1></center>

       <center id="notif">
           <p> <strong>BIENVENIDOS A SU CAMPUS UNIVERSITARIO, AQUI ENCONTRARAS INFORMACION DE INTERES PARA CADA SEMANA</strong></p>
           <p><strong>¡EXITOS EN SU SEMESTRE!</strong></p>
       </center>
</section>


        <section id="images1">
            <img src="static/images/imagen.jpg" width="370px">
            <img src="static/images/p.jpg" width="370px" />
            <img src="static/images/n.jpg" width="370px" />
            <img src="static/images/L.jpg" width="370px" />
        </section>

        <article id="section2">
            <section id="Estudia">
                <h2>ESTUDIAN CON NOSOTROS: ¡VEN AL TDEA!</h2>
                <section id="section3">
                    <p><strong>NUESTRA INSTITUCION CUENTA CON 4 FACULTADES Y PROGRAMAS ACREDITADOS DE ALTA CALIDAD.</strong></p>
                    <p><strong>CONOCE AQUI NUESTRO PROCESO DE INSCRIPCION Y CADA UNO DE LOS PROGRAMAS DE NUESTRAS FACULTADES</strong></p>
                </section>
            </section>
            <section id="imagenes2">
                <a href="https://inscripcionestdea.com/facultad-de-ingenieria"><img  src="static/images/Ingenieria.png" width="360px"></a>
                <a href="https://inscripcionestdea.com/facultad-de-derecho-y-ciencias-forenses"><img  src="static/images/Derecho.png" width="360px"/></a>
                <a href="https://inscripcionestdea.com/facultad-de-educacion-y-ciencias-sociales"><img  src="static/images/Sociales.png" width="360px"/></a>
                <a href="https://inscripcionestdea.com/facultad-de-ciencias-administrativas-y-economicas"><img  src="static/images/administrativas.png" width="360px"></a>
            </section>

        </article>

    <section id="footer2">
        <p>REDES SOCIALES:</p>
        <section id="redes">
            <p><img src="static/images/ins.jpg" width="15px"><a href="https://instagram.com/tecnologicodeantioquia?igshid=MzRlODBiNWFlZA=="> INSTAGRAM: @TDEA.EDU.CO</a></p>
            <p><img src="static/images/fc.jpg" width="15px"><a href="https://www.facebook.com/tecdeantioquia?mibextid=ZbWKwL"> FACEBOOK: TECNOLÓGICO DE ANTIOQUIA</a></p>
            <p><img src="static/images/tk.png" width="15px"><a href="https://www.tiktok.com/@tecnologicodeantioquia?_t=8cc7RwDhczm&_r=1">TIKTOK: TDEA</a></p>
        </section>

        <center><h1>GRACIAS POR ELEGIRNOS, TDEA INSTITUCIÓN UNIVERSITARIA</h1></center>
    </section>

    <img id="footer1" src="static/images/vice2.png" width="1518px">
</body>
